/******************************************/
/*                Main                    */
/******************************************/

.app {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.app-block-wrapper {
    width: 250px;
}

.app-block {
    display: flex;
}

.app-block-inline {
    display: inline-flex;
}

.app-button {
    border-color: rebeccapurple;
}

.app-button:hover {
    border-color: mediumpurple;
}

/******************************************/
/*              Positioning               */
/******************************************/

.app-centered {
    margin-left: auto;
    margin-right: auto;
}

.app-centered-flex-column {
    flex-direction: column;
    align-items: center;
}

.app-centered-content {
    justify-content: center;
}

.app-justified-content {
    justify-content: space-around;
}

.app-centered-text {
    display: block;
    width: 100%;
    text-align: center;
}

/******************************************/
/*               Paddings                 */
/******************************************/

.app-p5px {
    padding: 5px;
}

/******************************************/
/*               Margins                  */
/******************************************/

.app-ml6px {
    margin-left: 6px;
}

.app-mt5px {
    margin-top: 5px;
}

.app-mb5px {
    margin-bottom: 5px;
}

.app-mt10px {
    margin-top: 10px;
}

.app-mb10px {
    margin-bottom: 10px;
}

.app-mt20px {
    margin-top: 20px;
}

.app-mb20px {
    margin-bottom: 20px;
}

/******************************************/
/*                  Text                  */
/******************************************/

.app-lh20px {
    line-height: 20px;
}

.app-text-uppercase {
    text-transform: uppercase;
}

/******************************************/
/*               Blocks                   */
/******************************************/

.app-sharp-border {
    border: 3px solid rebeccapurple;
    border-radius: 5px;
}

.app-vertical-border {
    border-width: 0 3px;
}

.app-horizontal-border {
    border-width: 3px 0;
}

/******************************************/
/*               Arrows                   */
/******************************************/

.app-arrow-button {
    width: 10px;
    height: 10px;
    border: solid black;
    border-width: 0 5px 5px 0;
    padding: 3px;
    transition-duration: 0.4s;
}

.app-arrow-button-up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.app-arrow-button-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.app-arrow-button-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.app-arrow-button-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/******************************************/
/*               Colors                   */
/******************************************/

.app-green-border {
    border-color: limegreen;
}

.app-blue-border {
    border-color: deepskyblue;
}

.app-red-border {
    border-color: red;
}

.app-purple-border {
    border-color: rebeccapurple;
}