.calculator {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: solid rebeccapurple;
    border-width: 3px 0;
    border-radius: 5px;
    margin: 30px 0;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.calculator-available-points {
    text-align: center;
    margin-top: 10px;
}

.calculator-stats {
    display: flex;
    flex-direction: row;
}

.calculator-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 100px;
}

.calculator-stat-name {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.calculator-arrow-button {
    width: 10px;
    height: 10px;
    border: solid rebeccapurple;
    border-width: 0 5px 5px 0;
    padding: 3px;
}

.calculator-increase-stat {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.calculator-decrease-stat {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.calculator-stat-points {

}

.points-manipulation-block {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 220px;
    border: solid rebeccapurple;
    border-width: 3px 0;
    border-radius: 5px;
    margin: 30px 0;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.points-manipulation-input {
    width: 40px;
    height: 30px;
    margin: 0 10px;
    border: solid rebeccapurple;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-width: 3px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}

.points-manipulation-button:hover {
    background-color: mediumpurple;
}

.points-manipulation-button {
    display: block;
    width: 100px;
    margin-right: 5px;
    font-size: 14px;
    line-height: 35px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    color: white;
    background-color: rebeccapurple;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
}